# Kevin Cookie Company
 Group 6:
Manyara Bonface, Levine Nakhone, Victor Mwatu, Franklin Muchiri, Betshua Kerubo, Lewis Mawira

***

<div>
<center><img src="kck.jpg" height="300"/></center>
</div>

## 1. Overview

Kevin Cookie Company is a company that produces and sells cookies, as the name suggests. Using its data this is an exploratory analysis to develop a model that can help improve its sales and thus profitability.

# 2. Business Understanding
The business problem in this case involves, identifying the selling cookie products which is crucial to focus on promoting and producing items that maximize sales and revenue.Evaluating the profitability of cookie products considering production costs helps prioritize those that yield the profits and contribute to overall profitability.Analyzing sales trends over time allows us to identify patterns enabling inventory planning and tailored marketing strategies based on increased demand, for certain products during specific months or years.

# 3. Data Understanding

Below is an exploration of the available data

In [4]:
import  pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [5]:
df = pd.read_csv('kevin cookie company.csv')
df.head()

,Country,Product,Units Sold,Revenue per cookie,Cost per cookie,Revenue,Cost,Profit,Date,Month Number,Month Name,Year
0,Canada,Chocolate Chip,$292.00,$5.00,$2.00,"$1,460.00",$584.00,$876.00,01/02/2019,2,February,2019
1,Mexico,Chocolate Chip,$974.00,$5.00,$2.00,"$4,870.00","$1,948.00","$2,922.00",01/02/2019,2,February,2019
2,Canada,Chocolate Chip,"$2,518.00",$5.00,$2.00,"$12,590.00","$5,036.00","$7,554.00",01/06/2019,6,June,2019
3,Germany,Chocolate Chip,"$1,006.00",$5.00,$2.00,"$5,030.00","$2,012.00","$3,018.00",01/06/2019,6,June,2019
4,Germany,Chocolate Chip,$367.00,$5.00,$2.00,"$1,835.00",$734.00,"$1,101.00",01/07/2019,7,July,2019

In [6]:
df.drop([ ' Units Sold ', ' Revenue per cookie ',
       ' Cost per cookie ', ' Revenue ', ' Cost ', 'Date',
       'Month Number', ' Month Name ', 'Year'], axis=1, inplace=True)

In [7]:
df.head()

   Country          Product       Profit
0   Canada   Chocolate Chip      $876.00
1   Mexico   Chocolate Chip    $2,922.00
2   Canada   Chocolate Chip    $7,554.00
3  Germany   Chocolate Chip    $3,018.00
4  Germany   Chocolate Chip    $1,101.00

In [8]:
df[' Profit '] = df[' Profit '].replace({'\$':'',',':''}, regex=True).astype(float)
df.head()

   Country          Product    Profit
0   Canada   Chocolate Chip      876.0
1   Mexico   Chocolate Chip     2922.0
2   Canada   Chocolate Chip     7554.0
3  Germany   Chocolate Chip     3018.0
4  Germany   Chocolate Chip     1101.0

### 3.1 Preprocessing the data and build a linear regression Model

In [10]:
# Label encode the country and the cookies
label_enc = LabelEncoder()
df['Country'] = label_enc.fit_transform(df['Country'])
df[' Product '] = label_enc.fit_transform(df[' Product '])

In [11]:
df.head()

   Country   Product    Profit
0        0          0     876.0
1        3          0    2922.0
2        0          0    7554.0
3        2          0    3018.0
4        2          0    1101.0

In [12]:
# Separate X and y
y = df[' Profit ']
X = df.drop(' Profit ', axis=1)

# perform Linear regression
# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.25)

#Create and train the model
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [13]:
# Evaluate the model
# Calculate the coefficient of determination (R-squared) on the training and testing sets
train_r2 = regressor.score(X_train, y_train)
test_r2 = regressor.score(X_test, y_test)

print(f'Training R-squared: {train_r2:.3f}')
print(f'Testing R-squared: {test_r2:.3f}')

Training R-squared: 0.019
Testing R-squared: -0.041

In [14]:
# Step 6: Make predictions
# Predict the profits for the testing set
y_pred = regressor.predict(X_test)

# Compare the actual profits with the predicted profits
predictions_df = pd.DataFrame({'Actual Profit': y_test, 'Predicted Profit': y_pred})
print(predictions_df)

     Actual Profit  Predicted Profit
158        4077.00       4215.546921
500        5034.75       3637.814158
396        3025.00       3622.801545
155        2715.00       4056.101117
321        1545.60       4245.572148
..             ...               ...
618        7900.75       3812.272576
579         470.75       3956.705766
231        2280.80       4390.005339
336        1982.40       4245.572148
656        4247.75       3493.380967

[175 rows x 2 columns]

In [15]:
from sklearn.metrics import mean_squared_error
y_pred = regressor.predict(X_test)
mse = mean_squared_error(y_test, y_pred)

print(f'Mean Squared Error (MSE): {mse:.3f}')

Mean Squared Error (MSE): 8403487.756

# 4. Results 
The model was built successfuly and was able to predict profits, albeit a major overfitting problem.